<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестирование</title>
</head>
<body>
<h1>Проектная работа по тестированию.</h1>
<table>
    <tr>
        <th>id</th>
        <th>login</th>
        <th>ball</th>
    </tr>
    <!--/*@thymesVar id="users" type="ru.sniper.Quest.model.User"*/-->
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${users.id}"></td>
            <td th:text="${users.login}"></td>
            <td th:text="${users.user_ball}"></td>
        </tr>
    </th:block>
</table>
<p>Представьтесь пожалуйста</p>
<form action ="/user" method="get">
    <input type="text" name="login" placeholder="Введите логин">
    <!--<input type="submit" value="Пройти тест">-->
    <a href="/user" th:href="@{/Add}" class="btn btn-info">Пройти тест</a>
</form>
</body>
</html>