<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="user : ${ru.sniper.Quest.entity.UserEntity}">
        <td th:text="${ru.sniper.Quest.entity.UserEntity.id}"></td>
        <td th:text="${ru.sniper.Quest.entity.UserEntity.login}"></td>
        <td th:text="${ru.sniper.Quest.entity.UserEntity.ball}"></td>
        <td><a th:href="'/' + ${ru.sniper.Quest.entity.UserEntity.id}">___</a></td>
    </tr>
</table>
</table>
</body>
</html>