<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>Перед началом тестирования пожалуйста представьтесь</h1>
<form class="form-horizontal" th:action="@{/}" th:object="${user}" method="post" role="form">
    <div class="form-group">
        <input type="text" th:name="login" placeholder="Введите желаемый логин." maxlength="100"/>
    </div>
    <button type="submit">Отправить.</button>
</form>

<h2>Прошли тестирование</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Ball</th>
        <th>Удалить</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.ball}"></td>
        <td><a th:href="@{'/delete/{id}'(id=${user.id})}">Удалить</a></td>
    </tr>
</table>
</table>
</body>
</html>