<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
<h2>Тест для <span th:text="${login}"></span></h2>
<h1>На каждый вопрос лишь один ответ верный.</h1>
<table>
    <tr>
        <th>id</th>
        <th>login</th>
        <th>ball</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.user_ball}"></td>
        </tr>
    </th:block>
</table>
тут будем выводить вопросы и ответы
</body>
</html>